<%= form_with(model: @doctor, local: true, class: "form-group") do |f|%>
    <div class="">
        <%= f.label :name, "Name:"%>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
        <%= f.label :specialty, "Specialty:" %>
        <%= f.text_field :specialty, class: "form-control" %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>

    
    

    